.filter-settings{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}
.filter-settings input,.filter-settings select,
.filter-settings option{
    font-weight: 400;
    padding: 15px;
    margin: 5px;
    border:1px solid #4444;
    color: #4444;
    border-radius: 5px;
    width: 200px;
}

.apply-button input{
    background: #021E4A;
    color: #fff;
    padding: 10px 20px;
    border:1px solid #000080;
    border-radius: 5px;
    padding: 15px 25px;
}
